{% extends "template.html.twig" %}
{% block body %}
	<h1 class="mt-5">Accueil</h1>

	<h1>Dernières sorties</h1>
	<div class="row">
		{% for i in 0..5 %}
			<div class="col-md-4 mb-3">
				<div class="card">
				<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Nom du film</h5>
						<p class="card-text">Synopsis</p>
						<a href="#" class="btn btn-primary">En savoir plus</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
