<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Accueil{% endblock %}</title>
    {% block stylesheet %}
    <link rel="stylesheet" href="../assets/scss/dist/custom.css">
    <link rel="stylesheet" href="assets/css/style.css">
    {% endblock %}
</head>
<body>
    <div class="container">
    {% block navigation %}
    {% endblock %}

    {% block body %}
    <h1>titre</h1>
    <p>coucou</p>
    {% endblock %}
    </div>
    {% block js %}
    {% endblock %}
</body>
</html>