/* nav{
    position: fixed !important;
    width: 100%;
} */
h1 {
    color: blue;
}
.avatar{
    float: left;
    margin: 5px;
}
.affiche{
    height:300px;
    width: 200px;
    background-color:navy;
}
p{
    text-align: justify;
}